@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons.woff2) format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/PTSans-Regular.woff2) format('woff2');
}

/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(res/fonts/PTSans-Regular.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  opacity: 0.666;
  transition: opacity 0.2s ease-in;
}


body.mobile {
    position: absolute;
    left: 0;
    top: 0;
    display: flex!important;
    flex-direction: column;
    overflow-y: scroll!important;
    overflow-x: hidden!important;
    overscroll-behavior: none;
}

body.mobile .plot3-window {
    position: static!important;
    transform: none!important;
    width: 100vw!important;
    height: 100vh!important;
    flex-shrink: 0!important;
}

body.mobile .button.add-window {
    display: none!important;
}

.button.add-window {
    position: fixed;
    z-index: 99999;
    bottom: 20px;
    right: 20px;
    background: #000;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.button.add-window p {
    font-size: 32px;
    color: #fff;
}
