.telechart {
	border: 1px solid black;
	user-select: none;
	background-color: #fff;
}

.telechart .major-plot-wrapper {
	height: 50%;
	border-bottom: 1px solid black;
}

.telechart .panorama-plot-wrapper {
	height: 20%;
	border-bottom: 1px solid black;
}

