.telechart {
	border: 1px solid black;
	user-select: none;
	background-color: var(--telechartBackgroundColor);
	padding: 12px;
}

.telechart p {
	margin: 0;
	font-family: sans-serif;
	color: var(--majorTextColor);
}

.telechart .header.caption {
	height: 40px;
}

.telechart .major-plot-wrapper {
	height: 60%;
}

.telechart .panorama-plot-wrapper {
	height: 72px;
	min-height: 48px;
	background-color: var(--panormaPlotBackground)
}

