.telechart {
	user-select: none;
	background-color: var(--telechartBackgroundColor);
	padding: 16px;
	-webkit-tap-highlight-color: transparent;

	p {
		margin: 0;
		font-family: sans-serif;
		color: var(--majorTextColor);
	}

	.header.caption {
		height: 40px;
	}

	.major-plot-wrapper {
		height: 60%;
	}

	.panorama-plot-wrapper {
		height: 72px;
		min-height: 48px;
		background-color: var(--panormaPlotBackground);
		margin: 16px 0;
	}

	.button {
		cursor: pointer;
		user-select: none;
	}

	.theme-switcher p {
		color: var(--themeSwitherCaptionColor);
	}

	.frame-control {
		z-index: 1;
		cursor: move;
		flex-wrap: 0;

		.filler {
			background-color: var(--frameControlBackgroundColor);
		}

		.frame {
			width: 1px;
			border-top: 1px solid var(--frameControlPlaneBackgroundColor);
			border-bottom: 1px solid var(--frameControlPlaneBackgroundColor);
		}


		.plane {
		    width: 6px;
		    cursor: col-resize;
		    background-color: var(--frameControlPlaneBackgroundColor);
		    border-right: 8px solid transparent;
		    border-left: 8px solid transparent;
		    background-clip: content-box;

			&.left-plane {
				left: 0;
				transform: translateX(-8px);
			}

			&.right-plane {
				right: 0;
				left: auto;
				transform: translateX(8px);
			}
		}
	}
}