.telechart {
	user-select: none;
	background-color: var(--telechartBackgroundColor);
	padding: 16px;
	-webkit-tap-highlight-color: transparent;

	p {
		margin: 0;
		font-family: Tahoma, Verdana, Segoe, sans-serif;
		color: var(--majorTextColor);
	}

	.header.caption {
		height: 40px;
	}

	.major-plot-wrapper {
		max-height: 70%;
		flex-grow: 10;
	}

	.panorama-plot-wrapper {
		height: 48px;
		min-height: 48px;
		background-color: var(--panormaPlotBackground);
		margin: 16px 0;
	}

	.telechart-plot {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
	}

	.button {
		cursor: pointer;
		user-select: none;
		-webkit-touch-callout: none;
	    -webkit-user-select: none;
	       -moz-user-select: none;
	        -ms-user-select: none;
	            user-select: none;
	                                
	}

	.theme-switcher p {
		color: var(--themeSwitherCaptionColor);
	}

	.frame-control {
		z-index: 1;
		flex-wrap: 0;

		.filler {
			background:black;
			background-color: var(--frameControlBackgroundColor);
			z-index: 2;

			&.left-filler {
				left:0;
				border-right: 8px solid var(--frameControlPlaneBackgroundColor);
			}

			&.right-filler {
				right:0;
				left: auto;
				border-left: 8px solid var(--frameControlPlaneBackgroundColor);
			}
		}

		.frame {
			width: 1px;
			border-top: 2px solid var(--frameControlPlaneBackgroundColor);
			border-bottom: 2px solid var(--frameControlPlaneBackgroundColor);
			z-index: 1;
			cursor: move;
		}
	}

	.selected-position-circle {
		transition: opacity 0.2s ease-out;
		z-index: 2;

		.inner {
			width: 12px;
			height: 12px;
			background: var(--telechartBackgroundColor);
			transform: translate(-50%, -50%);
			border-radius: 50%;
			border: 2px solid var(--borderColor);
		}

		&.hidden {
			opacity: 0;
		}
	}

	/* chart controls */
	.chart-controls-wrapper {
		flex-grow: 1;

		.chart-controls {
			min-height: 48px;
			max-height: 64px;


			.series-buttons {
				align-items: flex-start;

				.series-button {
				    padding: 6px;
					border-radius: 40px;
					border: 1px solid var(--seriesButtonBorderColor);
					margin-right: 16px;

					.checkbox-wrapper {
						width: 20px;
						height: 20px;
						margin-right: 8px;
						border-radius: 50%;
						border-width: 10px;
						border-style: solid;
						transition: border-width 0.15s ease-in;


						.box {
							background-color: #fff;
							height: 2px;
							width: 6px;
							border-radius: 4px;
							transition-property: transform, opacity;
							transition: 0.25s ease-in;
							left:50%;
							top:50%;
							transform-origin: 0 50%;

							&.box-a {
							    transform: rotateZ(225deg) translate(-2px, -3px);
								
							}

							&.box-b {
								transform: rotateZ(-45deg) translate(-4px, 2px);
							    width: 10px;
							}
						}
					}

					p.caption {
						margin-right: 8px;
						font-size: 13px;
					}

					&.disabled {
						.checkbox-wrapper {
							border-width: 1px;

							.box {
								opacity: 0;
								width: 2px;
							}
						}
					}
				}
			}
		}
	}

	.grid-caption {
		z-index: 1;

		p {
			font-size: 12px;
			color: var(--gridPatternCaptionColor);
		}

		&.time {
			bottom: 0;
			top: auto;
		}
	}

	.selected-values-banner {
		z-index: 4;

		.inner {
			box-shadow: 0px 0px 8px -4px black;
		    padding: 8px 16px;
		    border-radius: 8px;
			background-color: var(--selectedValuesBannerBackgroundColor);

			.date-value {
				p.value {
					font-size: 16px;
				}
			}

			.series-value {
				p.value {
					font-size: 18px;
				}

				p.caption {
					font-size: 13px;
				}
			}
		}
	}

}